@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --violet:#7B68EE;
  --pink:#708090;
  --gradient:linear-gradient(90deg, var(--violet), var(--pink));
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: 50%;
  text-transform: capitalize;
  transition: all .2s ease-out;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background:#333;
}

html::-webkit-scrollbar-thumb{
  background:#fff;
  border-radius: 5rem;
}

body{
  background:var(--gradient);
  padding:3rem 7%;
}

section{
  padding:2rem 7%;
}

.container{
  background:#fff;
  background-repeat: no-repeat;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.snow{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(images/1.png), url(images/2.png), url(images/3.png);
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0, 0 0, 0 0;
    }
    100%{
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

.heading{
  color:transparent;
  background:var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding:0 1rem;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.8rem 3rem;
  border-radius: .5rem;
  background:#333;
  color:#fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:var(--gradient);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:2rem 7%;
  border-bottom: .1rem solid rgba(0,0,0,.1);
  position: relative;
  z-index: 1000;
}

header .logo{
  font-size: 2.5rem;
  color:var(--violet);
  font-weight: bold;
}

header .logo span{
  color:var(--pink);
}

header .navbar a{
  margin-left: 2rem;
  font-size: 2rem;
  color:#333;
}

header .navbar a:hover{
  color:var(--pink);
}

#menu{
  font-size: 2.5rem;
  padding:.5rem 1rem;
  border-radius: .3rem;
  border:.1rem solid rgba(0,0,0,.2);
  cursor: pointer;
  display: none;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.home .content{
  flex:1 1 40rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
}

.home .content h3{
  color:transparent;
  background:var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
}

.home .content p{
  padding:.5rem 0;
  font-size: 2rem;
  color:#000;
  font-weight: bold;
}

.Mcourse{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.Mcourse .mbox{
  flex:1 1 30rem;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1);
  padding:1rem;
  position: relative;
}

.Mcourse .mbox img{
  height:20rem;
  width:100%;
}

.Mcourse .mbox .mamount{
  position: absolute;
  top:1rem; left:1rem;
  font-size: 2rem;
  padding:.5rem 1rem;
  background:var(--pink);
  color:#fff;
  border-radius: .5rem;
}

.Mcourse .mbox .mstars i{
  color:var(--violet);
  font-size: 1.5rem;
  padding:1rem 0;
}

.Mcourse .mbox h3{
  color:var(--pink);
  font-size: 2.5rem;
}

.Mcourse .mbox p{
  color:#666;
  font-size: 1.5rem;
  padding:.5rem 0;
}

.Mcourse .micons{
  display: flex;
  justify-content: space-between;
  border-top: .1rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  padding:.5rem;
  padding-top: 1rem;
}

.Mcourse .micons p{
  color:#666;
  font-size: 1.3rem;
}

.Mcourse .micons p i{
  padding-right: .4rem;
  color:var(--pink);
}




.course{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.course .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1);
  padding:1rem;
  position: relative;

}

.course .box img{
  height:20rem;
  width:100%;
}

.course .box .amount{
  position: absolute;
  top:1rem; left:1rem;
  font-size: 2rem;
  padding:.5rem 1rem;
  background:var(--pink);
  color:#fff;
  border-radius: .5rem;
}

.course .box .stars i{
  color:var(--violet);
  font-size: 1.5rem;
  padding:1rem 0;
}

.course .box h3{
  color:var(--pink);
  font-size: 2.5rem;
}

.course .box p{
  color:#666;
  font-size: 1.5rem;
  padding:.5rem 0;
}

.course .icons{
  display: flex;
  justify-content: space-between;
  border-top: .1rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  padding:.5rem;
  padding-top: 1rem;
}

.course .icons p{
  color:#666;
  font-size: 1.3rem;
}

.course .icons p i{
  padding-right: .4rem;
  color:var(--pink);
}

.coursecontent{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(128,128,128,1.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(128,128,128,1.5);
    border-right: 1px solid rgba(128,128,128,1.7);
    border-bottom: 1px solid rgba(128,128,128,1.7);
    text-align: center;
}

.contentform{
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.tcontainer2{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px -30px);
    background: #ff0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container2{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}

.container2 .box2{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px -30px);
    background: #ff0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

/*side bar*/

.sidebar{
    position: relative;
    /*left: -450px;*/
    width: 250px;
    height: 100%;
    background: #000;
    transition: all .5s ease;
}

.sidebar materialheader{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146
    user-select: none;
}



ul:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: -250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 355px;
}

.teacher{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.teacher .box{
  flex:1 1 23rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius:.5rem;
  padding:1.5rem;
  text-align: center;
}

.teacher .box img{
  height: 10rem;
  width:10rem;
  margin:.5rem 0;
  border-radius: 50%;
  object-fit: cover;
}

.teacher .box h3{
  color:var(--violet);
  font-size: 2.5rem;
}

.teacher .box span{
  color:var(--pink);
  font-size: 2rem;
}

.teacher .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}

.teacher .box .share a{
  height:4rem;
  width:4rem;
  line-height: 4rem;
  font-size: 2rem;
  background:var(--pink);
  border-radius: .5rem;
  margin:.3rem;
  color:#fff;
}

.teacher .box .share a:hover{
  background:var(--violet);
}


.price{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.price .box{
  flex:1 1 30rem;
  text-align: center;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
}

.price .box h3{
  font-size: 2.5rem;
  color:#333;
  padding:1.5rem 0;
}

.price .box .amount{
  font-size: 4.5rem;
  color:#fff;
  padding:1rem 0;
  background:var(--gradient);
  font-weight: bold;
}

.price .box .amount span{
  font-size: 2rem;
}

.price .box  ul{
  border-bottom: .1rem solid rgba(0,0,0,.1);
  padding: 1rem 0;
  list-style: none;
}

.price .box ul li{
  padding:.7rem 0;
  font-size: 1.7rem;
  color:#666;
}

.price .box .btn{
  margin:2rem 0;
}

.review{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box{
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1);
  padding:1rem;
  flex:1 1 30rem;
}

.review .box .student{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review .box .student .student-info{
  display: flex;
  align-items: center;
}

.review .box .student i{
  font-size: 6rem;
  color:var(--pink);
  opacity: .5;
}

.review .box .student .student-info img{
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width:7rem;
  margin-right: 1.5rem;
}

.review .box .student .student-info h3{
  font-size: 2rem;
  color:#333;
}

.review .box .student .student-info span{
  font-size: 1.5rem;
  color:var(--pink);
}

.review .box .text{
  padding:1rem 0;
  font-size: 1.6rem;
  color:#666;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.contact .image{
  flex:1 1 35rem;
}

.contact .image img{
  width:100%;
}

.contact form{
  flex:1 1 50rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  padding:2rem;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form .box, 
.contact form textarea{
  width: 100%;
  padding:1rem;
  margin:.7rem 0;
  font-size: 1.7rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  text-transform: none;
  color:#333;
} 

.contact form .inputBox input:focus,
.contact form .box:focus, 
.contact form textarea:focus{
  border-color: var(--pink);
}

.contact form .inputBox input{
  width:49%;
}

.contact form textarea{
  height: 20rem;
  resize: none;
}

.search{
  border-color: var(--pink);
  border: 100px;
}

.rounded{
  border-radius: 50%;
}

.music img{
  width: 200px;
}

.music{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #000;
  display: flex;
}

.info{
  color: #fff;
  margin-top: 30px;
  margin-left: 20px;
  flex: 1;
}

.info p{
  font-size: 20px;
  margin: 10px 0 60px;
}

.controls{
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.controls img{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.audio-container{
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.3);
    position: relative;
}

.audio-container .audio{
    width: 100%;
    height: 130px;
}

#player{
    width: 90%;
}



/* login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}
loginbody {
  /*background: url('images/bg.jpg') no-repeat center;*/
  background-size: cover;
  font-family: sans-serif;

}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ff652f;
}

.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  transition: .3s ease-out;
  font-size: 1.5rem;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-22px);
  color: #ff652f;
  font-size: .8rem;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.forgot-pw {
  color: inherit;
}

#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: #fff;
  opacity: 0;
  transition: 0.6s;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}


/* event */















.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  flex:1 1 20rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--violet);
  padding:.7rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:.7rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color:#666;
  padding:.7rem 0;
}

.footer .box-container .box a:hover{
  color:var(--pink);
}

.footer .box-container .box p i{
  padding-right: .5rem;
  color:var(--pink);
}

.footer .credit{
  font-size: 2rem;
  margin-top: 1rem;
  padding:1rem;
  padding-top: 2rem;
  text-align: center;
  border-top: .1rem solid rgba(0,0,0,.1);
  color:#666;
}

.footer .credit span{
  color:var(--pink);
}

        .search{
            float:right;
            margin:7px;
  
        }
          

/* media queries  */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  body{
    padding:1.5rem;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left:0; right:0;
    background:#fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    font-size: 2.5rem;
    display: block;
    margin:2rem 0;
    text-align:center;
  }

  .contact form .inputBox input{
    width:100%;
  }

}

@media (max-width:400px){

  html{
    font-size: 50%;
  }

} 